[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
mysqlclient = "*"
pillow = "*"
django-debug-toolbar = "*"
django-smart-selects = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.10"
